$state1: url('./assets/state1.GIF');
$state2: url('./assets/state2.GIF');
$state3: url('./assets/state3.GIF');
$state4: url('./assets/state4.GIF');
$state5: url('./assets/state5.GIF');
$state6: url('./assets/state6.GIF');
$state7: url('./assets/state7.GIF');
$state8: url('./assets/state8.GIF');
$state9: url('./assets/state9.GIF');
$state10: url('./assets/state10.GIF');
$state11: url('./assets/state11.GIF');

@import '../components/2.Game/game';
@import '../components/5.Rules/rules';


